**/.*
!**/*.server
out
node_modules
dist
**/node_modules
**/build
**/decisions
**/drizzle-orm
**/drizzle.config.json
**/test
**/*.test.*
**/vitest.config.ts
**/.cache
**/README.md
**/fly.*
**/Dockerfile
**/types
